### Basic
numpy
pandas

### Visualize
matplotlib
seaborn
plotly

### Crawler
selenium
bs4

### Web Development
streamlit

### Kernel
ipykernel

### MongoDB
pymongo # bson included

### API
google
google-generativeai
deep_translator
