### Basic
numpy
pandas

### Visualize
matplotlib
seaborn
plotly

### Crawler
selenium
bs4

### Web Development
streamlit
python-dotenv

### Kernel
ipykernel

### MongoDB
pymongo # bson included
cryptography
pyopenssl

### API
google
google-generativeai
deep_translator
